body {
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@font-face {
  font-family: Ferry;
  src: url('../fonst/Ferry/ferry_black.otf');
}
